@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,200;1,300&family=Phudu:wght@700&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,700;1,300;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #F8F9FA;
}
.bgr{
    position: absolute;
    width: 100%;
    
    background: linear-gradient(rgb(14, 84, 189),#007BFF);
    background-size: auto;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links li{
    margin-right: 25%;
    font-size: 18px;
    font-weight: 600;
}
.title{
    position: absolute;
    top: 20%;
    margin-left: 30%;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.social-media{
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    height: 100vh;
    background-color: rgb(14, 84, 189);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.social-media ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100%;
}
.social-media ul li{
    margin: 20% 0;
    border-radius: 50%;
}
.social-media ul li a{
    position: absolute;
    font-size: 30px;
    color: #F8F9FA;

}
.social-media ul li a:hover{
    font-size: 31px;
    color: rgb(196, 81, 81);
    transition: 0.3s;
}
.container{
    position: absolute;
    top: 30%;
    left: 5%;
    display: flex;
    width: 50%;
    height: 70vh;
    width: 80vw;
}
.info{
    position: absolute;
    width: 50%;
    height: 70%;
    margin-top: 2%;
}
.info1{
    left: 0;
}
.info2{
    right: 0;
}

.container ul{
    margin-top: 5%;
    width: 100%;
}
.container .sub-title{
    text-transform: uppercase;
    margin-left: 15%;
}
.container ul li{
    padding: 5px;
    margin: 5%;
    font-size: 18px;
    border-left: 1px solid;
    cursor: pointer;
}
.button{
    position: fixed;
    background: #0a0a23;
  margin-top: auto;
  padding: 10px;
 bottom: 20px;
    padding: 15px auto;
  
    

  
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 black;
    font-weight: 600;
}




@media only screen and (max-width: 780px) {
    body {
        width: 100% !important;
    }
    .social-media {
        display: none;
    }
    .bgr {
        position: static; 
        width: 100%; 
        height: auto; 
        background: none;
    }
    .title {
        position: static;
        margin-top: 7rem;
        border-bottom: 1px solid #ccc;
margin-left: 0;
    }

    .container {
        position: static;
  display: block;
       
        width: 50%;
       
        width: 100%;
    }
    h1, h2 {
        font-size: medium;
    }

    .title h1 {
        font-size: 2rem;
        margin: 10px 0;
        text-align: center;
    }

    
    
}
