@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,200;1,300&family=Phudu:wght@700&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,700;1,300;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #BEBEBE ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F8F9FA;
    font-family: 'Montserrat' sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgcol{
    position: absolute;
    width: 4vw;
    height: 8vh;
    top: 1%;
    right: 1%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black; 
}

.bgcol:hover{
    width: 4.5vw;
    height: 9vh;
    transition: 0.3s;
}
.bgcol svg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.error{
    position: absolute;
    width: 30vw;
    height: 3vh;
    margin-top: 5%;
    margin-left: 34%;
    text-align: center;
    font-size: 20px;
}


.container{
    position: absolute;
    display: flex;
    width: 90%;
    height: 95vh;
    background: linear-gradient(#007BFF,#003366 );;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(24, 23, 23),0 4px 20px 0 rgb(24, 23, 23);
    animation: transit 0.4s;
}

.request{
    position: absolute;
    width: 100%;
}

.title{
    flex: 1;
    text-align: center;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    color: #FF7F50;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    text-decoration: underline;
}

.champ{
    position: relative;
    margin-top: 10%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.etat-civil,.diplome{
    flex: 3;
    position: relative;
    height: 60vh;
    width: 100%;
    bottom: 25px;
    border-right: 2px solid #ccc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 2px solid #ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.etat-civil{
    margin-left: 5%;
}
.diplome{
    margin-right: 5%;
}
.sub-title{
    text-align: center;
    text-transform: uppercase;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.input-field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 80%;
    height: 4.5vh;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 black;
}
label{
    font-weight: 600;
}
.alert{
    position: absolute;
    right: 1%;
    background-color: transparent;
    width: 8%;
    height: 80%;
    background: url(../../images/warning.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
.disp_alert{
    display: block;
    transition: 0.3s;
}

.input-field input{
    background-color: #ccc;
}
.input-field:hover{
    background: #ccc;
    width: 82%;
    transition: 0.3s;
}
.input-over{
    background: #ccc;
    transition: 0.3s;
}
.month,.school{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.month:hover{
    width: 35%;
}
.school:hover{
    width: 60%;
}
.month input,.school input{
    height: 100%;
    width: 80%;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}
.school{
   width: 55%;
}
.eco{
    display: flex;
    flex-direction: column;
}

.info input{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
}

.info input::placeholder{
    font-weight: 600;
    text-align: center;
    color: rgb(151, 65, 65);
}
.info label{
    font-size: 18px;
    cursor: pointer;
}


.inline{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.year{
    display: flex;
    flex-direction: column;
}
.ann_alert{
    position: absolute;
    margin-right: -20%;
    width: 4vh;
}

.fichier{
    width: 6vw;
    cursor: pointer;
}

.inline label{
    margin: 10px;
    font-size: 18px;
}
.inline input,select{
    height: 25px;
    border: none;
    outline: none;
    color: rgb(151, 65, 65);
}
select{
    background-color: #ccc; 
    cursor: pointer;

}


.inline input::placeholder{
    font-weight: 600;
    text-align: center;
    color: rgb(151, 65, 65);
}

.comp{
    text-align: baseline;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.container .submit{
    position: relative;
    width: 20vw;
    height: 3vw;
    bottom: 0;
    margin-left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.cnt1,.cnt2{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 4%;
}
.cnt2{
    left: 50%;
}
.submit input{
    position: absolute;
    width: 50%;
    height: 100%;
    outline: none;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px 0 black;
    color: #ccc;
    font-weight: 600;
}
.submit input:hover{
    width: 10.5vw;
    background: rgb(196, 81, 81);
    transition: 0.3s;
}


.submit .btn{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid rgb(196, 81, 81);
    cursor: pointer;
    background-color: transparent;
    color: rgb(196, 81, 81);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0 2px 20px 0 black;
}

.submit .btn:hover{
    background-color: rgb(196, 81, 81);
    color: rgb(36, 36, 71);
    transition: 0.5s;
}

@media  screen and (max-width: 1100px) {
    body{
        min-height: 170vh;
    }
    .container{
        height: 160vh;
        width: 90%;
        display: flex;
        bottom: 5%;
    }
    .input-field{
        height: 5vh;
    }
    .month{
        height: 5vh;
        width: 60%;
    }
    .month:hover{
        width: 65%;
    }
    .school{
        height: 5vh;
        width: 80%;
    }
    .school:hover{
        width: 85%;
    }
    .month input,.school input{
        height: 100%;
        width: 90%;
        outline: none;
        font-weight: 600;
        font-size: 15px;
    }
    .diplome{
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-title{
        border-bottom: 1px solid rgb(151, 65, 65);
        width: 95%;
    }
    .etat-civil,.diplome{
        border: none;
    }
    .diplome{
        margin: 10% 35px;
    }

    .champ{
        flex-direction: column;
        top: 40px;
    }
    .submit{
        width: 24vw;
        height: 5vw;
    }
    .submit input:hover{
        width: 12.5vw;
    }
}
@media  screen and (max-width: 600px) {
    body{
        min-height: 150vh;
    }
    .container{
        height: 140vh;
    }
    .champ{
        margin-top: 15%;
    }
    .input-field{
        height: 3.5vh;
    }
    .inline{
        flex-direction: column;
    }
    #diplome{
        width: 30%;
    }
    .error{
        margin-top: 10%;
        width: 60%;
        margin-left: 20%;
    }
    .submit{
        width: 28vw;
        height: 8vw;
    }
    .submit input:hover{
        width: 14.5vw;
    }
}
@media  screen and (max-width: 440px){
    body{
        min-height: 140vh;
    }
    .container{
        height: 130vh;
    }
    .champ{
        margin-top: 70px;
    }
    .error{
        margin-top: 50px;
    }
    .submit{
        width: 38vw;
        height: 10vw;
    }
    .submit input:hover{
        width: 20.5vw;
    }
}

.bg-green{
    background: rgb(48, 47, 47);
    transition: 0.3s;
}
.bg-yellow{
    background: linear-gradient(-45deg,rgb(83, 114, 12),rgb(190, 202, 25));
    transition: 0.3s;
}

/*Etape suivante*/
.masquer{
    transform: translateX(-200%);
}
.suivant{
    position: absolute;
    display: flex;
    width: 60%;
    height: 95vh;
    background: linear-gradient(#007BFF,#003366 );
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(24, 23, 23),0 4px 20px 0 rgb(24, 23, 23);
    margin-right: 5%;
    display: none;
}
.follow{
    transition: 0.5s;
    display: block;
    animation: transit 0.4s;
}
.info_comp{
    border: none;
    margin-top: 15%;
    justify-content: center;
    margin-left: 0;
}
.message{
    display: flex;
    margin: 5%;
    word-spacing: 5px;
    font-size: 18px;
}
.message p{
    margin-right: 5%;
}
.suivant .submit{
    position: relative;
    width: 20vw;
    height: 3vw;
    bottom: 0;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.sub-title{
    margin-bottom: 3%;
}


.result{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 60%;
    height: 95vh;
    background: linear-gradient(#007BFF,#003366 );
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(24, 23, 23),0 4px 20px 0 rgb(24, 23, 23);
    margin-right: 5%;
}
.result table{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
    margin-right: 20px;
    border-collapse: collapse;
    border-color: black;
}

.retour-acceuil{
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 10vw;
    left: 40%;
    border-radius: 15px;
    box-shadow: 0 2px 20px 0 black;
}
.retour-acceuil input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #ccc;
    font-weight: 600;
}
.retour-acceuil:hover{
    width: 11vw;
    transition: 0.3s;
    left: 39%;
    background: rgb(196, 81, 81)
}

.presentation{
    display: flex;
}

@keyframes transit{
    0%{
        transform: translateX(100%);
        transform: rotate(-60deg);
    }

    100%{
        transform: translateX(-100px);
        transform: rotate(0deg);
    }
}
