*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.back{
    position: absolute;
    width: 100vw;
    height: 410vh;
    background: linear-gradient(#003366,#007BFF );
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1,.img2,.img3,.img4{
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 20px 0 #444;
    transition: 0.5s;
}
.img1:hover,.img2:hover,.img3:hover,.img4:hover{
    width: 80vw;
    height: 80vh;
    transition: 0.5s;
}

.img1{
    top: 20vh;
    background: url(../../images/E.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img2{
    top: 105vh;
}
.img3{
    top: 190vh;
}
.img4{
    top: 275vh;
}
h1{
    color: #FF7F50;
    position: absolute;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    letter-spacing: 3px;
}
footer{
    bottom: -320% !important;
}
.first,.second,.fird{
    width: 30%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 1px 4px 20px 1px black;
    margin: 1%;
}
.first:hover,.second:hover,.fird:hover{
    width: 40%;
    height: 100%;
    transition: 0.5s;
}
.img1 .first,.img1 .second,.img1 .fird{
    display : none;
}

.img2 .first{
    background: url(../../images/teach.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img2 .second{
    background: url(../../images/teach2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img2 .fird{
    background: url(../../images/teach3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img3 .first{
    background: url(../../images/electro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img3 .second{
    background: url(../../images/tech.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img3 .fird{
    background: url(../../images/usine.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img4 .first{
    background: url(../../images/stud.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img4 .second{
    background: url(../../images/stu3); 
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img4 .fird{
    background: url(../../images/stud2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.cont{
    width: 80% !important;
}
.cont a{
    color: #f8f9fa;
}
@media screen and (max-width: 850px) {
    footer{
        bottom: -270vh !important;
        height: 110vh !important;
        background: transparent !important;
    }
    .first,.second,.fird{
        display:none;
    }
    .back{
        height:300vh;
    }
    h1{
        font-size : 25px;
    }
    .img1,.img2,.img3,.img4{
        height : 50vh;
        width : 90vw;
    }
    .img1:hover,.img2:hover,.img3:hover,.img4:hover{
        width:95vw;
        height:50vh;
    }
    .img2{
        top : 80vh;
    }
    .img3{
        top : 140vh;
    }
    .img4{
        top: 200vh;
    }
}
