*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.the-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#003366,#007BFF );
}

.filtre{
    filter : blur(15px);
}
